.circle{
    background: rgb(255,255,255);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    position: relative;
    margin: 0 auto;
    width: 30em; 
    height: 30em;
    overflow: hidden;
}
.circle h1 {
    color: transparent;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 15em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    -webkit-transform: rotate(-360deg);
}
.circle:before, .circle:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;            
    box-shadow: inset 22em 0 0 rgba(0, 0, 0, 0.1), 
                inset 0 22em 0 rgba(0, 0, 0, 0.1), 
                inset -22em 0 0 rgba(0, 0, 0, 0.1), 
                inset 0 -22em 0 rgba(0, 0, 0, 0.1);
    transition: all 0.75s;
}
.circle:after  {
    -webkit-transform: rotate(45deg);
}
.circle:hover:before, .circle:hover:after  {
    box-shadow: inset 6em 0 0 rgba(255, 0, 0, 0.5), 
                inset 0 6em 0 rgba(252, 150, 0, 0.5), 
                inset -6em 0 0 rgba(0, 255, 0, 0.5), 
                inset 0 -6em 0 rgba(0, 150, 255, 0.5);
}
.circle:hover:before{	
    -webkit-transform: rotate(-400deg);
}
.circle:hover:after{	
    -webkit-transform: rotate(-355deg);
}
.circle:hover > h1  {
    color: darkgrey;
    -webkit-transform: rotate(360deg);
}
#changingText{
	position:absolute;
	height:35px;
	width:120px;
	top:200px;
	left:200px;
}
#changingText div{
	overflow:hidden;
}
#changingText p{
	position:absolute;
	margin:0;
	padding:0;
	/* CHANGE TEXT CHARACTERISTICS */
	font-size:30px;
}
#changingText #before{
	position:absolute;
	height:50px;
	width:100%;
}
#changingText:hover #before{
	-webkit-animation: beforeAnimate 5s;
}
#changingText #before p{
	position:absolute;
	height:50px;
	width:100%;
}
#changingText:hover #before p{
	-webkit-animation: beforeTextAnimate 5s;
}
#changingText #after{
	position:absolute;
	height:50px;
	width:0px;
}
#changingText:hover #after{
	-webkit-animation: afterAnimate 5s;
}
#changingText #line{
	position:absolute;
	height:100%;
	width:5px;
	background:transparent;
}
#changingText:hover #line{
	-webkit-animation: lineAnimate 5s;
}
@-webkit-keyframes beforeAnimate {
    from {
    	width: 100%;
    	left: 0%;
    }
    to {
    	width: 0%;
    	left: 100%;
    }
}
@-webkit-keyframes beforeTextAnimate {
    from {
    	left:1%;
    }
    to {
    	left: -120px;
    }
}
@-webkit-keyframes afterAnimate {
    from {
    	width: 0%;
    }
    to {
    	width: 100%;
    }
}
@-webkit-keyframes lineAnimate {
    0% {
    	background:transparent;
    	left: 0%;
    }
    50% {
    	background:red;
    }
    100% {
    	background:transparent;
    	left: 100%;
    }
}

